.container{
    padding: 2rem;
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 20px;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #ffff;
}

.choice-prefix{
    padding: 1rem 2.5rem;
    background-color: #56a5eb;
    color: #ffff;
}

.choice-text{
    padding: 1rem;
    background-color: #ffff;
}

h2{
    margin-bottom: 2rem;
}